{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
Создание онлайн-магазина

{% block content %}
<h1>Корзина</h1>
<table class="cart">
<thead>
<tr>
<th>Изображение</th>
<th>Продукт</th>
<th>Количество</th>
<th>Удалить</th>
<th>Стоимость</th>
<th>Цена итого</th>
</tr>
</thead>
<tbody>
{% for item in cart %}
{% with product=item.product %}
<tr>
<td>
{% thumbnail product.image "225x175" as im %}
<a href="{{ product.get_absolute_url }}">
<img src="{% if product.image %}{{ im.url }}
{% endif %}">
{% endthumbnail %}
</a>
</td>
<td>{{ product.title }}</td>
<td><form action="{% url 'add_to_cart' product.pk %}" method="post">
{{ item.update_quantity_form.quantity }}
{{ item.update_quantity_form.update }}
<input type="submit" value="Update">
{% csrf_token %}
</form></td>
<td><a href="{% url 'remove_from_cart' product.pk %}">Удалить</a></td>
<td class="num">{{ item.price }} руб.</td>
<td class="num">{{ item.total_price }} руб.</td>
</tr>
{% endwith %}
{% endfor %}
<tr class="total">
<td>Total</td>
<td colspan="4"></td>
<td class="num">{{ cart.get_total_price }} руб.</td>
</tr>
</tbody>
</table>
<p class="text-right">


{% endblock %}